.body {
  min-height: calc(100vh - 450px);
  position: relative;
}

.left-options {
  width: 20rem;
  padding: 10px;

  color: white;

  position: absolute;
  left: 20px;
  bottom: 20px;
}

.difficulties {
  font-size: 1rem;

  gap: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.diff-4 {
  height: 6rem;
  width: 10rem;

  background-image: url('../img/Easy Button.png'); /* image path */
  background-size: cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.diff-8 {
  height: 6rem;
  width: 10rem;

  background-image: url('../img/Medium Button.png'); /* image path */
  background-size: cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.diff-12 {
  height: 6rem;
  width: 10rem;

  background-image: url('../img/Hard Button.png'); /* image path */
  background-size: cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.dark-mode img {
  width: 5rem;
  cursor: pointer;
}

.restart {
  height: 4.5rem;
  width: 13rem;
  padding-left: 2rem;
  margin-top: 0.5rem;

  background-image: url('../img/Restart Button - Happy.png'); /* image path */
  background-size: cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  font-size: 1.5rem;

  text-align: center;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.board {
  margin: 20px auto;
  background-color: rgb(47, 46, 46);
}

.board td {
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;
  border: 1px solid #7a7a7a;
  margin: 0;

  background-color: #c0c0c0;

  font-size: 1.3rem;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.board td:hover {
  background-color: #d0d0d0;
}

.board td img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
}

.right-options {
  width: 15rem;
  padding: 10px;

  position: absolute;
  right: 20px;
  bottom: 20px;
}

.flags-left {
  gap: 1rem;
  color: white;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flags-amount {
  font-size: 4rem;
}

.flag-pic img {
  width: 2rem;
}

.mouse-pic {
  gap: 0.5rem;
  font-size: 1.3rem;
  color: white;

  display: flex;
  align-items: center;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.dark-blue {
  color: darkblue;
  font-weight: bold;
}

.dark-red {
  color: darkred;
  font-weight: bold;
}

.turkiz {
  color: turquoise;
  font-weight: bold;
}

.black {
  color: black;
  font-weight: bold;
}

.grey {
  color: grey;
  font-weight: bold;
}
