* {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
  --body-color: #b8b8ba;
  --cell-size: 2.3rem;
  --btn-size: 5rem;
}

body {
  background-color: var(--body-color);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60rem;
  padding: 0.8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hearts {
  display: flex;
  gap: 1vw;
}

.heart img {
  width: 5rem;
}

.timer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* center it */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
}

.curr-time {
  font-size: 6rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.best-score {
  font-size: 3rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cb2525;
}

.mode {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  font-weight: bold;
  align-items: center;
}

.mode img {
  width: 3.5rem;
  cursor: pointer;
}

.second-header {
  width: 100%;
  min-height: 5vw;
  padding: 0.6rem;
  background-color: #acacae;
  display: flex;
  justify-content: center;
  gap: 3vw;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal centering */
  align-items: center;
}

.btn-image {
  width: var(--btn-size);
  height: var(--btn-size);
}

.btn-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

h2 {
  margin: 2px;
  font-size: 0.7rem;
}
